.default-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .default-slide-content {
        font-family: 'Roboto';
        font-size: 30px;
        color: #fff;
    }
}