.open-slider-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    min-height: 250px;
    position: relative;
    width: 100%;
    min-height: 400px;
    gap: 20px;

    .open-slider-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        min-width: max-content;
        transition: 0.5s ease-in-out;

        &.slide-centered {
            align-items: center;
            width: 100%;
        }
    }

    .open-slider-pagination-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: -20px;
        width: 100%;
        min-height: max-content;

        .open-slider-pagination-button {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: green;
            cursor: pointer;
            padding: 0;
            border: none;
            transition: 0.5s ease-in-out;
            
            &.active {
                width: 13px;
                height: 13px;
                transition: 0.5s ease-in-out;
            }
        }
    }
}

.slide {
    flex-shrink: 0;
    width: 500px;
    background-color: red;
    height: 300px;
    transition: transform 0.5s ease-in-out;
    border-radius: 25px;
    transition: 0.5s ease-in-out; /* Add a smooth transition */

    &.invisible-slide {
        display: none;
    }

    &.next {
        transform: translateX(100%);
    }

    &.prev {
        transform: translateX(-100%);
    }

    &.active {
        display: block;
        width: 530px;
        height: 330px;
    }
}